*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid #000;
  min-height: 50px;
}
main{
  overflow: auto;

}
footer {
display: flex;
background-color:darkgray;
justify-content: space-between;
align-items: center;
height: 80px;
}

.headercol.due button {
  background-color: black ;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid white;
}

.row {
  display: flex;
  background-color: beige;
  height: 100%
  overflow-y: auto;

}



.row > :first-child {
  width: 15%;
  

}
.row > :nth-child(2) {
  width: 85%;
  background-color: aqua;
  border: 1px solid black;

}

.logo {
  color: white;
  width: 100px;
}

.lista1 li {
  list-style: none;
  margin: 15px;
  font-size: .6rem;
  
}
.lista1 {
  padding-bottom: 20px;
}

.lista2 li {
  list-style: none;
  margin: 15px;
  font-size: .8rem;
}

.lista2 {
  padding-bottom: 50px;
}
.in {
  margin-left: 15px;
}
.flex{
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.betw {
  justify-content: space-between;
}
.jcentra {
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.carta {
  position: relative;
  width: calc(100% / 6);
  min-width: 250px;
  height: 200px;
  cursor: pointer;
  background-color: black;
}

.carta img {
  width: 100%;
  object-fit: cover;
}

.headercol {
  height: 70px;
  background-color: black;
  color: white;
  width: 100%;
}

.colonna {
  color: black;
  font-size: .8rem;
}

.headercol.due {
  text-align: right;
}

.rowcarte1{
  margin-bottom: 200px;
}

.rowcarte img {
  
}

.selezione {
  margin-bottom: 20px;
}

.secondoheader {
  height: 80px;
  background-color: grey;
  color: white;
  width: 100%;
}

.secondoheader div{
  font-size: 1.5rem;
  margin-right: 50px;
}




/* RESPONSIVE AREA */
@media all and (max-width:768px){

  .carta{
    width: calc(100% / 4);
  }
}